.board {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 400px;max-width: 100%;
  aspect-ratio: 1/1;
  height: 400px;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 1rem;
}
