.page {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.page > .main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
      align-items: center;
}

.page > .main p {
    font-size: xx-large;
    color: #ffffff;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #121212;
}
.page > .main svg  {
margin: 5rem 0;
}